<div class="cash-display-container">
    <div class="cash-container">
        <div class="header">Gross Revenue 100%</div>
        <div class="cash-amount">{{grossRevenue}}</div>
    </div>
    <div class="cash-container">
        <div class="header">Website Revenue 30%</div>
        <div class="cash-amount">{{websiteRevenue}}</div>
        <button class="reset-btn" onclick="showConfirmationModal()">Reset Counter</button>
    </div>
    <div class="cash-container">
        <div class="header">Player Revenue 70%</div>
        <div class="cash-amount">{{playerRevenue}}</div>
    </div>
</div>

<div class="overlay" id="confirmationOverlay">
    <div class="confirmation-modal">
        <h2>Reset Unclaimed Revenue</h2>
        <p>Are you sure you want to reset the Unclaimed Revenue counter?</p>
        <p><strong>Please ensure you have claimed the money from your PayPal account before resetting.</strong></p>
        <div class="modal-buttons">
            <button class="modal-btn modal-cancel" onclick="closeConfirmationModal()">Cancel</button>
            <a href="/reset_admin_cash" class="modal-btn modal-confirm" onclick="resetCounter()">Confirm Reset</a>
        </div>
    </div>
</div>


<script>
    function showConfirmationModal() {
        document.getElementById('confirmationOverlay').style.display = 'flex';
    }

    function closeConfirmationModal() {
        document.getElementById('confirmationOverlay').style.display = 'none';
    }

</script>




