<!DOCTYPE html>
<html>
<body>

<!-- Metadata (CSS files, tab title) -->
<head>
  <title>Paypal Bridge Dashboard</title>
  <!-- DataTable -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>

<!-- Header : Admin Buttons -->
{% include "dash-buttons.html" %}

<!-- User Table -->
{% include "dash-users.html" %}

<!-- Account Management -->
{% include "dash-accounts.html" %}

<!-- Javacript  -->
<script>
$(document).ready(function() {
  $('#userTable').DataTable({
    "ajax": {
      "url": "/api/users", // API endpoint
      "dataSrc": ""        // root of JSON
    },
    // The 'data' field should match the keys in JSON
    "columns": [
      {"data": "username"}, 
      {"data": "email"},
      {"data": "gems"},
    ]
  });
});
</script>


</body>
</html>
