<h1>Users</h1>

<form method="POST" action="/DeleteUsers">  
<button type="submit">Delete Selected Users</button>

<table id="userTable" class="display">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Gems</th>
      <th>Creation Time<th>

    </tr>
  </thead>
  <tbody></tbody>
</table>

</form>


<!-- Javascript  -->
<script>
$(document).ready(function() {
  $('#userTable').DataTable({
    "ajax": {
      "url": "/api/users", // API
      "dataSrc": ""// JSON root
    },
    // The 'data' field should match the keys in JSON
    "columns": [
      {"data": "username"}, 
      {"data": "email"},
      {"data": "gems"},
      {"data": "created_at"},
      {"data": null, "render": generateDeleteBox}
    ]
  });
});

function generateDeleteBox(data, type, row) {
  return `
    <input
        type="checkbox"
        name="usernames"
        value="${data.username}"
    />
  `
}
</script>