<h1>Admin Panel</h1>
<h2>Welcome, {{session["username"]}}!</h2>

<form action="/Logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/TempUser" method="post">
    <button type="submit">Generate Temporary User</button>
    <input type="number" id="count" name="count" min="0" max="999" value="1">
</form>

<form action="/PurgeTempUsers" method="post">
    <button type="submit">Purge Temporary Users</button>
    <input type="number" id="days" name="days" min="0" max="999" value="5">
    <label for="days">days and older</label>
</form>

<form action="/PurgeTempUsers" method="post">
    <input type="hidden" name="days" value="0">
    <button type="submit">Purge All Temporary Users</button>
</form>

<form action="/Cashout" method="post">
    <button type="submit">Cashout <span id="rangeValue" class="range-value">{{user['gems']//2}}</span><span>/{{user['gems']}} gems</span></button>
    <input type="range" id="points" name="gems" min="0" max="{{user['gems']}}" value="{{user['gems']//2}}" oninput="document.getElementById('rangeValue').textContent = this.value">
</form>

<p><a href="/get_gem/1">[get 1 gem]</a><a href="/get_gem/1000">[get 1000 gem]</a></p>

<p><a href="/SeeMyAds">[{{session["username"].title()}}'s Ad Log]</a></p>

<p><a href="/SeeAllAds">[Global Ad Log]</a></p>

<p><a href="/RequestLog">[Request Log]</a></p>

<p><a href="/Fake/S2S">[Watch Fake Rewarded Ad]</a></p>