<h1>Admin Dashboard</h1>
<h2>Welcome, {{session["username"]}}!</h2>


<div class="admin-controls">
    <form action="/Logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <form action="/TempUser" method="post">
        <button type="submit">Generate Temporary User</button>
        <input type="number" id="count" name="count" min="0" max="999" value="1">
    </form>

    <form action="/PurgeTempUsers" method="post">
        <button type="submit">Purge Temporary Users</button>
        <input type="number" id="days" name="days" min="0" max="999" value="5">
        <label for="days">days and older</label>
    </form>

    <form action="/PurgeTempUsers" method="post">
        <input type="hidden" name="days" value="0">
        <button type="submit">Purge All Temporary Users</button>
    </form>

    <form action="/Cashout" method="post">
        <button type="submit">
            Cashout
            <span id="gem-cashout-span" class="range-value">{{user['gems']//2}}</span>
            <span>/&nbsp;{{user['gems']}} gems</span>
        </button>
        <input type="range" id="points" name="gems" min="0" max="{{user['gems']}}" value="{{user['gems']//2}}" oninput="document.getElementById('gem-cashout-span').textContent = this.value">
    </form>

    <!-- Fake Gems -->
    <p>
        <a href="/get_gem/1">[get 1 gem]</a>
        <a href="/get_bonus_gem/100">[get 100 bonus]</a>
    </p>

    <!-- Log Previews -->
    <p>
        <a href="/RequestLog">[Request Log]</a>
        <a href="/Fake/S2S/Rewarded/1">[Watch 1 Rewarded]</a>
        <a href="/Fake/S2S/Interstitial/1">[Watch 1 Interstitial]</a>
    </p>


    <!-- Fake Ad Buttons -->
    <p>
        <!-- <a href="/Fake/S2S/AdRound/{{(gem_minimum//55)+1}}">[Watch {{(gem_minimum//55)+1}} Ad Rounds]</a> -->
        <a href="/Fake/S2S/AdRound/50">[Watch 50 Ad Rounds (2750 gems)]</a>
        <a href="/ResetAccount">[Reset Account]</a>
    </p>

</div>