<!DOCTYPE html>
<html>
<body>
  <head>
    <form action="/Logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <form action="/TempUser" method="post">
      <button type="submit">Generate Temporary User</button>
    </form>

    <form action="/Cashout" method="post">
      <input type="range" id="points" name="gems" min="0" max="{{user['gems']}}" value="{{user['gems']//2}}" oninput="document.getElementById('rangeValue').textContent = this.value">
      <div>Value: <span id="rangeValue" class="range-value">{{user['gems']//2}}</span><span> / {{user['gems']}} gems</span></div>
      <button type="submit">Cashout</button>
    </form>

    
    <p>current user: [{{session["username"]}}]</p>
    <p>gems: [{{session["gems"]}}] <a href="/get_gem/1">[get 1 gem]</a><a href="/get_gem/1000">[get 1000 gem]</a></p>
    <p><a href="/SeeAds">[Current User Ad Log]</a></p>
    <p><a href="/SeeS2S">[Unity S2S Ad Log]</a></p>
  </head>
  

    <h2>Users</h2>
      <form method="POST" action="/DeleteUsers">
        <ul>
          {% for user in users %}
          <li>
            <input
              type="checkbox"
              name="usernames"
              value="{{ user['username'] }}"
            />
            ({{user.doc_id}}) {{ user['username'] }} - {{ user['email'] }} [{{user['gems']}}]
          </li>
          {% endfor %}
        </ul>
        <button type="submit">Delete Selected Users</button>
      </form>

      <br />
      <hr />

      <h2>Delete User</h2>
      <form method="POST" action="/DeleteUser">
        <input
          type="text"
          name="username"
          placeholder="Username to Delete"
          required
        />
        <br />
        <button type="submit">Delete User</button>
      </form>

      <br />
      <hr />
      

    
    <h2>Create User</h2>
    <form method="POST" action="/CreateUser">
      <input
        type="text"
        name="username"
        placeholder="Username"
        required
      /><br />
      <input type="email" name="email" placeholder="Email" required /><br />
      <input
        type="password"
        name="password"
        placeholder="Password"
        required
      /><br />
      <button type="submit">Add User</button>
    </form>

    <br />
    <hr />


    <h2>Login</h2>
    <form method="POST" action="/Login">
      <input
        type="text"
        name="username"
        placeholder="Username"
        required
      /><br />
      <input
        type="password"
        name="password"
        placeholder="Password"
        required
      /><br />
      <button type="submit">Login</button>
    </form>

  </body>
</html>
