<h1>Users</h1>

<table id="userTable" class="display">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Gems</th>
      <th>Creation Time<th>
      <th>Interstitial<th>
      <th>Rewarded<th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<!-- <form method="POST" action="/DeleteUsers">   
  <ul>
    {% for user in users %}
    <li>
      <input
        type="checkbox"
        name="usernames"
        value="{{ user['username'] }}"
      />
      ({{user.doc_id}}) {{ user['username'] }} - {{ user['email'] }} [{{user['gems']}}]
    </li>
    {% endfor %}
  </ul>
  <button type="submit">Delete Selected Users</button>
</form> -->
