<h1>Users</h1>

<form method="POST" action="/DeleteUsers">  


<table id="userTable" class="display">
  <thead>
    <tr>
      <th>SID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Gems</th>
      <th>Bonus</th>
      <th>Redeemed Cashouts</th>
      <th>Rewarded</th>
      <th>Interstitial</th>
      <th>Creation Time</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody></tbody>
  <tfoot>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th><button type="submit">Delete</button></th>
  </tr>
</tfoot>
</table>

</form>


<!-- Javascript  -->
<script>
$(document).ready(function() {
  $('#userTable').DataTable({
    "ajax": {
      "url": "/api/users", // API
      "dataSrc": ""// JSON root
    },
    // The 'data' field should match the keys in JSON
    "columns": [
      {"data": "sid"},
      {"data": "username"}, 
      {"data": "email"},
      {"data": "gems"},
      {"data": "bonus"},
      {"data": null, "render": generateCashoutHistory},
      {"data": "rewarded"},
      {"data": "interstitial"},
      {"data": "created_at"},
      {"data": null, "orderable": false, "render": generateDeleteBox},
    ]
  });
});




function generateDeleteBox(data, type, row) {
  return `
    <input
        type="checkbox"
        name="usernames"
        value="${data.username}"
    />
  `
}

function generateAdLog(data, type, row) {
  return ` <a href="/SeeAllAds/${data.username}"">Ad Log</a>`
}

function generateCashoutHistory(data, type, row) {
  return ` <a href="/CashoutHistory/${data.username}"">${data.total_cashout}</a>`
}

</script>