<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .left-divider {
            width: 20%;
            height: 2px;
            background-color: rgb(12, 79, 179);
            margin-left: 0;
        }
    </style>
    <title>Set Password</title>
</head>
<body>
    <hr />  <!-- <hr /> - thin line separetor-->
    <h2>Upload, Modify, and Remove app-ads.txt</h2>
    <form action="/set_password" method="post">
        <label for="password">Enter Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Set Password</button>
        <a href="/change_password">
            <button type="button">Change Password</button>
        </a>
    </form>
    <hr class="left-divider">
</body>
</html>