<!DOCTYPE html>
<html>

<!-- Metadata (CSS files, tab title) -->
<head>
  <title>Paypal Bridge</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  
  <!-- Custom  CSS -->
  <!-- <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='cash.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='dash.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='app-ads.css') }}" rel="stylesheet">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  <style> body {font-family: 'Atkinson Hyperlegible Next', sans-serif;}</style>
  <!-- DataTable -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

</head>


<body>
<!-- Header : Admin Buttons -->
  {% include "PayPalModeSwitch.html" %}

  <!-- Header : Admin Buttons -->
  {% include "dash-buttons.html" %}

  <!-- body : ads.txt upload -->
  {% include "app-ads.html" %}

  <!-- Admin Cash Display -->
  {% include 'cash-counter.html' %}

  <!-- User Table -->
  {% include "dash-users.html" %}

  <!-- disable/anable wallet button in unity -->
  {% include "wallet_status.html" %}

   <!-- disable/anable ServerConnector button in unity -->
  {% include "ServerConnector_status.html" %}

  <!-- Account Management -->
  {% include "dash-accounts.html" %}
<br><br><br><br><br>

</body>
</html>
